<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Factura</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Generar Factura</h1>
    </header>
    <main>
        <div class="form-container">
            <input type="number" id="orderIdInput" placeholder="Ingrese el ID de la orden">
            <button id="generateInvoiceButton">Generar Factura</button>
        </div>
        <div id="invoiceDetails"></div>
    </main>
    <script src="/static/script.js"></script>
</body>
</html>
